---
title: magnolia
layout: "base.njk"
---

<div class="section container">
  <nav>
    <div class="logo">
      <img
        src="https://i.ibb.co/MSHC086/icons8-magnolia-64-2.png"
        alt="logo-image"
      />
    </div>
    <div class="nav-items">
      <a href="/">home</a>
      <a href="/blog/">blog</a>
    </div>
  </nav>
  <ul role="list" class="articles_list flow">
    {%- for post in collections.post -%}
    <li>
      <article class="snippet">
        <img
          src="{{ post.data.image }}"
          alt="{{ post.data.imageAlt }}"
          class="snippet_image"
        />
        <h3 class="snippet_title">{{ post.data.title }}</h3>
        <p class="snippet_body">{{ post.data.description }}</p>
        <h3 class="snippet_date">{{ post.date | postDate }}</h3>
        <a href="{{ post.url }}" class="btn btn--primary">read</a>
      </article>
    </li>
    {%- endfor %}
  </ul>
</div>
