<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link
    rel="shortcut icon"
    href="/assets/blog/magnolia.ico"
    type="image/x-icon"
  />
  <link rel="stylesheet" href="style.css" />

  <title>magnolia</title>
</head>
<body>
  <div class="main-container">
    <nav>
      <div class="logo">
        <img
          src="https://i.ibb.co/MSHC086/icons8-magnolia-64-2.png"
          alt="logo-image"
        />
      </div>
      <div class="nav-items">
        <a href="/">home</a>
        <a href="/blog/">blog</a>
      </div>
    </nav>
    <div class="hero-container">
      <div class="column-left">
        <h1 class="logo-title">magnolia</h1>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti
          distinctio ducimus error voluptatem temporibus officiis accusamus
          officia qui, quidem, unde optio nihil rem beatae repudiandae esse
          aliquid, porro animi reiciendis.
        </p>
        <a href="/blog" class="home_button">read articles</a>
      </div>
      <div class="column-right">
        <img
          src="https://i.ibb.co/9YDjBn8/magnolia.png"
          alt="logo"
          class="hero-logo"
        />
      </div>
    </div>
    <footer class="footer-bottom">
      <p>© 2022 Magnolia. All rights reserved.</p>
    </footer>
  </div>
</body>
